/*=====================================
   GENERAL STYLE SECTION
    ===================================*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

.pad-low {
    padding-top: 40px;
}

text-center {
    text-align: center;
}

h1, h2, h3.h4 {
    font-family: 'Nova Flat';
}

h3 {
    color: #FEC911;
}

h2:after {
    content: '';
    display: block;
    width: 120px;
    height: 2px;
    background: #FEC911;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.pad-set {
    padding-top: 100px;
    padding-bottom: 60px;
}


/*=====================================
   COLOR CODES
    ===================================*/

.main-color {
    color: #1439DA;
}

.main-color-bk {
    background-color: #1439DA;
}


/*=====================================
   NAV BAR STYLE SECTION
    ===================================*/


/*Menu Back Color*/

.navbar-default {
    background-color: #1439DA;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/*Set margin bottom*/

.navbar {
    margin-bottom: 0px;
}


/*Logo Image */

.navbar-brand-logo {
    max-height: 76px;
    padding-bottom: 30px;
}


/*top-menu links color*/

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-size: 16px;
}


/*top-menu links color on hover*/

.navbar-default .navbar-nav>li>a:hover {
    color: #FEC911;
}


/*top-menu links & margin*/

.navbar-nav>li>a {
    border-right: 1px solid #FEC911;
    margin: 5px 0px 5px 0px;
    color: #FEC911!important;
    font-weight: 800;
    letter-spacing: 1px;
}


/*Font-awesome-icon*/

.nav li>a>i {
    color: #fff;
    padding-left: 5px;
}


/*dummy small text*/

.nav li>a>span {
    font-size: 12px;
    display: table;
    color: #fff;
}


/*=====================================
   HEADER SECTION BAR STYLE
    ===================================*/

.header-sec-bar {
    background-color: #FEC911;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-sec-bar i {
    margin-right: 5px;
    margin-left: 20px;
}


/*=====================================
 MAIN  HEADER SECTION  STYLE
    ===================================*/

#main-head {
    color: #fff;
    padding: 20px 10px 35px 10px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background-color: #1439DA;
}

#main-head input:focus {
    border: 1px solid #FEC911;
}

#main-head .form-control {
    height: 40px;
    color: #ff6a00;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FEC911;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#main-head span {
    color: #FEC911;
    font-size: 30px;
}

#main-head h5 {
    padding: 10px 2px 10px 2px;
}


/*=====================================
 HOME  STYLE
    ===================================*/

.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sigma-icon {
    font-size: 72px;
    padding: 30px;
}

.sigma-home h1 {
    font-size: 48px;
}

.sigma-home p {
    font-size: 24px;
    color: #555;
    line-height: 44px;
}

.sigma-home {
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
    background: url(../images/tm-sigma-00.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.space40 {
    margin-bottom: 40px;
}

.sigma-start {
    margin: 10px;
    padding: 16px 40px;
    min-width: 200px;
    font-size: 22px;
}

.sigma-content {
    padding: 60px 40px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    min-height: 280px;
}

.sigma-section-header {
    padding: 0px;
    padding-top: 100px;
    padding-bottom: 80px;
    background: url(../images/tm-sigma-00.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.sigma-home p, .sigma-content p, .sigma-section-header p {
    padding: 20px 0 0 0;
}

@media (max-width:1330px) {
    body {
        font-size: 16px;
        line-height: 28px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .sigma-icon {
        font-size: 48px;
        padding: 20px;
    }
    .site-title h2 {
        font-size: 14px;
        padding-top: 10px;
    }
    .sigma-content {
        padding: 30px 20px;
        min-height: 200px;
    }
    .sigma-home h1 {
        font-size: 40px;
    }
    .sigma-home p {
        font-size: 18px;
        line-height: 36px;
    }
}

@media (max-width:990px) {
    .main-menu {
        margin: 0px;
    }
}

@media (max-width:767px) {
    .nav-link {
        padding: 5px 10px;
        font-size: 16px;
    }
    .sigma-home h1 {
        font-size: 30px;
    }
    .sigma-home p {
        font-size: 16px;
        line-height: 28px;
    }
    .sigma-content {
        padding: 20px;
        min-height: 100px;
    }
}

/*=====================================
  KNOW STYLES
    ===================================*/

    #know {
        background-color: #3157F8;
        color: #fff;
        padding: 20px;
    }


/*=====================================
   CONTACT STYLE
    ===================================*/

#contact {
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: rgb(240, 240, 240);
}


/*=====================================
  FOOTER STYLES
    ===================================*/

#footer-sec {
    background-color: #1900C2;
    color: #fff;
    padding: 20px;
}

#footer-sec i {
    margin-right: 10px;
}

#footer-sec span {
    font-size: 20px;
    color: #FEC911;
}

#footer-sec small {
    display: table-cell;
    color: #AAA2A2;
    font-size: 12px;
}

#footer-sec p {
    border-right: 1px solid #FEC911;
    padding-right: 10px;
}

#footer-sec .media-heading {
    color: #fff;
    font-size: 14px;
}

#blog-footer-div {
    border-right: 1px solid #FEC911;
    padding-right: 10px;
}

#footser-end {
    text-align: right;
    background-color: #1439DA;
    color: #fff;
    padding: 10px;
}


/*=====================================
  SCROLL UP STYLES
    ===================================*/

a.scrollup {
    background: #4F6CEC;
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 0.5;
}


/*=====================================
  PRELOADER STYLES
    ===================================*/

#pre-div {
    background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

#loader {
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}


/*=====================================
 BUTTON CODE STYLE
    ===================================*/

.btn-style-2 {
    color: #fff;
    background-color: #1439DA;
    border-color: #1439DA;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDIT US AND TELL YOUR FRIENDS ABOUT US

    ========================================================  */
